<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Rabbit</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand">
            <img style="border-radius: 30px;" src=<%= "https://previews.123rf.com/images/maclife/maclife1502/maclife150200174/36983303-%ED%86%A0%EB%81%BC-%EB%A1%9C%EA%B3%A0-%EB%B2%A1%ED%84%B0.jpg" %> width="60px" height="60px">
        </a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/">HomePage</a>
                <a class="nav-link" href="/rabbits">Post</a>
                <a class="nav-link" href="/rabbits/new">NewPost</a>
            </div>
            <div class="navbar-nav ml-auto">
                <% if(!currentUser) {%>
                <a class="nav-link" href="/login">Login</a>
                <a class="nav-link" href="/register">Register</a>
                <% } else {%>
                <a class="navbar-brand">
                    <%if(!currentUser.image[0]) {%>
                        <img style="border-radius: 20px;" src=<%= "https://previews.123rf.com/images/maclife/maclife1502/maclife150200174/36983303-%ED%86%A0%EB%81%BC-%EB%A1%9C%EA%B3%A0-%EB%B2%A1%ED%84%B0.jpg" %> alt="Profile" width="40px" height="40px">
                    <% } else { %>
                        <img style="border-radius: 20px;" src="<%= currentUser.image[0].url %>" alt="Profile" width="40px" height="40px">
                    <% } %>
                </a>
                <a class="nav-link" href="/logout">Logout</a>
            </div>
            <% } %>
        </div>
    </div>
</nav>